{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "cypress"],
  "rules": {
    "@typescript-eslint/rule-name": 0,
    "@typescript-eslint/no-var-requires": 0,
    "no-undef": 0,
    "@typescript-eslint/no-namespace": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "@typescript-eslint/no-explicit-any": 0
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:cypress/recommended"]
}
